In [12]:
import tushare as ts

pro = ts.pro_api('3dd89b70c03a8b595c64686dbde181a4c68f1c8dedbb5c98f8b11d42')

df = pro.hm_list()

# 保存到本地文件
# 保存为CSV格式
df.to_csv('hm_list_data.csv', index=False, encoding='utf-8')
df.head(5)

,name,desc,orgs
0,龙飞虎,龙飞虎(克拉美书)股灾期间曾为桃县精神领袖，留有颇多名言，可见人品股品。,"[""华泰证券股份有限公司南京六合雄州西路证券营业部""]"
1,高送转专家,擅长在高送转个股进行波段操作,"[""财通证券股份有限公司常熟枫林路证券营业部""]"
2,高毅邻山,"价投大神“茅台03\""，真名冯柳。自述曾有9年时间多达93%的年复利回报。眼光犀利独到，风格...","[""国信证券股份有限公司深圳罗湖宝安北路证券营业部""]"
3,骑牛,敢于追涨，锁仓，也敢于割肉。,"[""中国银河证券股份有限公司重庆民族路证券营业部""]"
4,首板挖掘,善于发掘低位首板或跟风板，市场上活跃的挖掘资金，擅长在题材爆发后挖掘补涨机会，一旦出现高位分...,[]

In [15]:
df = pro.top_inst(trade_date='20250617')
df.to_csv('top_data.csv', index=False, encoding='utf-8')
df.head(5)

,trade_date,ts_code,exalter,buy,buy_rate,sell,sell_rate,net_buy,side,reason
0,20250617,000525.SZ,中信证券股份有限公司浙江分公司,65064840.12,4.46,4561135.1,0.31,60503705.02,0,日涨幅偏离值达到7%的前5只证券
1,20250617,000525.SZ,东亚前海证券有限责任公司苏州分公司,54326771.57,3.72,0.0,0.00,54326771.57,0,日涨幅偏离值达到7%的前5只证券
2,20250617,000525.SZ,国泰海通证券股份有限公司成都北一环路证券营业部,40989192.00,2.81,5418.0,0.00,40983774.00,0,日涨幅偏离值达到7%的前5只证券
3,20250617,000525.SZ,华林证券股份有限公司北京分公司,30053656.30,2.06,366060.0,0.03,29687596.30,0,日涨幅偏离值达到7%的前5只证券
4,20250617,000525.SZ,华源证券股份有限公司深圳分公司,23043657.00,1.58,0.0,0.00,23043657.00,0,日涨幅偏离值达到7%的前5只证券

In [16]:


df = pro.top_list(trade_date='20250617')
df.to_csv('top_list.csv', index=False, encoding='utf-8')
df.head(5)

,trade_date,ts_code,name,close,pct_change,turnover_rate,amount,l_sell,l_buy,l_amount,net_amount,net_rate,amount_rate,float_values,reason
0,20250617,000525.SZ,红太阳,9.03,9.9878,16.46,1.458644e+09,1.094462e+08,2.372633e+08,3.467095e+08,1.278172e+08,8.76,23.77,8.940401e+09,日涨幅偏离值达到7%的前5只证券
1,20250617,000554.SZ,泰山石油,8.15,3.5578,44.32,1.272852e+09,1.023095e+08,8.471771e+07,1.870272e+08,-1.759183e+07,-1.38,14.69,2.955624e+09,日振幅值达到15%的前5只证券
2,20250617,000701.SZ,厦门信达,7.26,-10.0372,25.85,1.308061e+09,1.095827e+08,8.366949e+07,1.932522e+08,-2.591319e+07,-1.98,14.77,4.847546e+09,日跌幅偏离值达到7%的前5只证券
3,20250617,002017.SZ,东信和平,14.60,10.0226,28.36,2.359909e+09,2.060309e+08,2.387131e+08,4.447440e+08,3.268224e+07,1.38,18.85,8.469254e+09,日涨幅偏离值达到7%的前5只证券
4,20250617,002017.SZ,东信和平,14.60,10.0226,28.36,2.940776e+09,2.228015e+08,2.599623e+08,4.827638e+08,3.716080e+07,1.26,16.42,8.469254e+09,连续三个交易日内，涨幅偏离值累计达到20%的证券

In [17]:
#多个股票
df = pro.daily(ts_code='000525.SZ,000554.SZ', start_date='20250604', end_date='20250617')
df.to_csv('daily_data.csv', index=False, encoding='utf-8')
df.head(5)

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000554.SZ,20250617,7.80,8.63,7.30,8.15,7.87,0.28,3.5578,1607214.09,1272851.714
1,000525.SZ,20250617,8.31,9.03,8.31,9.03,8.21,0.82,9.9878,1629771.68,1458643.985
2,000525.SZ,20250616,8.27,8.67,8.16,8.21,8.68,-0.47,-5.4147,812912.40,680801.032
3,000554.SZ,20250616,7.50,7.87,7.49,7.87,7.15,0.72,10.0699,605111.69,468372.546
4,000525.SZ,20250613,9.10,9.10,8.03,8.68,8.29,0.39,4.7045,1658888.25,1430937.856